<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SQL demo">
    <meta name="keywords" content="sql">
    <title>Who let the dogs out?</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <main>
        <h1>Hello, zookeeper</h1>
        <section>
            {% if data %}
            <table>
                <thead>
                    {% for col in data[0].keys() %}<th>{{ col }}</th>{% endfor %}
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        {% for field in row %}<td>{{ field }}</td>{% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </section>
    </main>
</body>

</html>