{% extends "base.jinja" %}
{% from "_formhelpers.jinja" import render_field %}
{% block content %}
<section>
    <form method="post" action='{{ url_for("auth.login") }}'>
        {{ form.csrf_token }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        <input type="submit" value="Sign in">
    </form>
</section>
{% endblock content %}