{% extends 'base.html' %}
{% block content %}
<form method="post" action="{{ url_for("main.post_index") }}">
    <label for="primary_type">Type</label>
    <select name="primary_type">
        <option value="Any">Any</option>
        {% for type in types %}
        <option value={{type}}>{{type}}</option>
        {% endfor %}
    </select>
    <label for="min_health">Min Health</label>
    <input type="number" name="min_health" min="0">
    <label for="max_health">Max Health</label>
    <input type="number" name="max_health" min="0">
    <input type="submit" value="Search" id="submitBtn">
</form>
{% endblock content %}