<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>hello, Pokemon hunters</title>
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
        <link rel="stylesheet" href={{ url_for('static', filename='styles/style.css') }}>
    </head>
    <body>
        <header>
            <nav>
                <a href='{{ url_for("main.index") }}'>Home</a>
            </nav>
            <h1>
                Welcome to the <span id="app_title">Pokemon encyclopedia!</span>
            </h1>
        </header>
        <main>
            <section>
                {% block content %}
                {% endblock content %}
            </section>
        </main>
    </body>
</html>
