{% extends "base.html" %}
{% block content %}
<div>
    {% if data %}
        <table>
            <thead>
                {% for col in data[0].keys() %}<th>{{ col }}</th>{% endfor %}
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for key, value in row.items() %}
                            {% if key == "Name" %}
                                <td>
                                    <a href={{ url_for("pok_by_id", pokemon_id=row["ID"]) }}>{{ value }}</a>
                                </td>
                            {% elif key == "Legendary" and value %}
                                <td class="legend">✓</td>
                            {% elif key == "Legendary" and not value %}
                                <td>✗</td>
                            {% else %}
                                <td>{{ value }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Nothing found. <a href='{{ url_for("main.index") }}'>Try again</a>
        </p>
    {% endif %}
</div>
{% endblock content %}
