<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="static/style.css">
    <title>Pookiedex</title>
</head>

<body class="container">
    <header>
        <h1>Welcome to Pookiedex</h1>
        <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/{{ '%03d' % poke_id }}.png"
            width="50px" />
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Search below for a pokemon</h2>
        <p>{{ message }}</p>
        <form method="post">
            <fieldset class="grid">
                <label>
                    Primary typing
                    <select name="primary_typing">
                        <option value="any">Any</option>
                        {% for pt in primary_typing %}
                        <option value="{{ pt }}">{{ pt["Primary Typing"] | capitalize }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label>
                    Secondary typing
                    <select name="secondary_typing">
                        <option value="any">Any</option>
                        {% for st in secondary_typing %}
                        <option value="{{ st }}">{{ st["Secondary Typing"] | capitalize }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label>
                    Generation
                    <select name="generation">
                        <option value="any">Any</option>
                        {% for gen in generations %}
                        <option value="generation-{{ gen }}">{{ gen["Generation"] | replace("generation-", "") | upper
                            }}</option>
                        {% endfor %}
                    </select>
                </label>
            </fieldset>
            <fieldset class="grid">
                <label>
                    Min total stats
                    <input type="number" name="min_total" min="0" max="1000">
                </label>
                <label>
                    Max total stats
                    <input type="number" name="max_total" min="0" max="1000">
                </label>
                <label>
                    Legendary only
                    <br>
                    <input type="checkbox" name="legendary_only">
                </label>
            </fieldset>
            <input type="submit" value="Submit query" id="btnQuery">
        </form>
    </main>
</body>

</html>