<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Trivia game using JavaScript">
        <meta name="keywords" content="javascript, trivia">
        <title>Would you like to play a game with me?</title>
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <script src="{{url_for('static', filename='script.js')}}"></script>
    </body>
</html>
