<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Guessing game">
        <meta name="keywords" content="flask, jinja, html, bootstrap">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>College Navigator</title>
    </head>
    <body>
        <header>
            <nav>
                <a href='{{ url_for("main.index") }}'>C🧭llege Navigator</a>
                {% for category, msg in get_flashed_messages(with_categories=true) %}
                    <h3 class="{{ category }}">{{ msg }}</h3>
                {% endfor %}
                <ul>
                    {% if current_user.is_authenticated %}
                        <li>Hi {{ current_user.name }}!</li>
                        <li>
                            <a href='{{ url_for("main.profile") }}'>Profile</a>
                        </li>
                        <li>
                            <a href='{{ url_for("auth.logout") }}'>Log out</a>
                        </li>
                    {% else %}
                        <li>
                            <a href='{{ url_for("auth.signup") }}'>Sign up</a>
                        </li>
                        <li>
                            <a href='{{ url_for("auth.login") }}'>Log in</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>
