{% extends "base.html" %}
{% block content %}
    <section>
        <form method="post" action='{{ url_for("auth.signup") }}'>
            {{ form.csrf_token }}
            {{ form.email.label }} {{ form.email(size=32) }}
            {{ form.name.label }} {{ form.name(size=20) }}
            {{ form.password.label }} {{ form.password(size=32) }}
            <input type="submit" value="Create account">
        </form>
        {% if form.email.errors %}
            <ul class="errors">
                {% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
        {% endif %}
    </section>
{% endblock content %}
