<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Menagerie">
    <meta name="keywords" content="flask, jinja, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Menagerie</title>
</head>

<body>
    <header class="container">
        <nav>
            <ul>
                <a href='{{ url_for("main.index") }}'>Menagerie adoption center 🦝</a>
            </ul>
            <ul>
                {% if "current_user" in session %}
                    <li>Hi {{ session["current_user"]["name"] }}!</li>
                    <li>
                        <a href='{{ url_for("main.profile") }}'>Profile</a>
                    </li>
                    <li>
                        <a href='{{ url_for("auth.logout") }}'>Log out</a>
                    </li>
                {% else %}
                    <li>
                        <a href='{{ url_for("auth.signup") }}'>Sign up</a>
                    </li>
                    <li>
                        <a href='{{ url_for("auth.login") }}'>Log in</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main class="container">
        {% block content %}
            <section>
                <form method="post" action='{{ url_for("auth.profile") }}'>
                    <label>Email
                        <input name="email" type="email" value={{ session["current_user"]["email"] }} maxlength="32"
                            readonly>
                    </label>
                    <label>Full name
                        <input name="name" type="text" value={{ session["current_user"]["name"] }} maxlength="32" required>
                    </label>
                    <label>Password
                        <input name="password" type="password" placeholder="Password" maxlength="32" required>
                    </label>
                    <label>Confirm password
                        <input name="confirm" type="password" placeholder="Confirm password" maxlength="32" required>
                    </label>
                    <input type="submit" value="Update profile">
                </form>
            </section>
        {% endblock content %}
    </main>
    <footer class="container">
        {% for category, msg in get_flashed_messages(with_categories=true) %}
            <p class="{{ category }}">{{ msg }}</p>
        {% endfor %}
    </footer>
</body>

</html>