{% extends 'base.html' %}
{% block content %}
    <h1>Pokemon, wake up!</h1>
    <br>
    <table class="table">
        <thead>
            {% for key in data[0] %}
            <th>{{key}}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for record in data %}
            <tr>
                {% for key, property in record.items() %}
                {% if key == "Name" %}
                <td><a href={{ url_for("pok_by_name", pokemon_name=record['Name']) }}>{{ property }}</a></td>
                {% elif property == "False" %}
                <td class="notlegend">x</td>
                {% elif property == "True" %}
                <td class="legend">v</td>
                {% else %}
                <td>{{ property }}</td>
                {% endif %}
            {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}